.secretWord {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.letter {
    background: var(--gray);
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 100%;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--gray);
    text-transform: uppercase;
    border-radius: 12px;
}

.letter.unleashed {
    background: var(--primary);
    color: var(--white);
}
