.secretWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    max-width: 384px;
    max-height: 384px;
    height: 100%;
    margin-bottom: 99px;
}

.word {
    display: flex;
    gap: 6px;
}

.letter {
    background: var(--gray);
    width: 72px;
    height: 72px;
    aspect-ratio: 1/1;
    font-size: 100%;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 12px;
}
