.wordInput {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    border: 20px solid var(--light-background);
    position: relative;
    flex: 4;
}

.letter {
    user-select: none;
    position: absolute;
    top: calc(50% - 47.5px);
    left: calc(50% - 45px);
    border-radius: 50%;
    width: 90px;
    height: 95px;
    background: var(--white);
    font-size: 57px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-text);
}

.letter[data-selected] {
    background: var(--secondary);
    color: var(--white)
}
