.wordInput {
    width: 294px;
    height: 294px;
    border-radius: 50%;
    border: 20px solid var(--light-background);
}

.letter {
    border-radius: 50%;
    width: 90px;
    height: 95px;
    background: var(--white);
    font-size: 57px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-text);
}
